html{
    font-size: 10px;
  }
  body{
    font-family: "Roboto",sans-serif;
    font-size: 1.65rem;
    line-height: 1.5;
    text-align: center;
    color: #444;
    margin: 5;
  }
  h1{
    font-size:4rem;
    margin-bottom: 0;
  }
  h2 {
    font-size: 3.5rem;
  }
  a{
    color: #441277;
  }
  a: visited{ 
    color: #000;
  }
  #main{
    margin: 30px 30px;
    background: #eeb;
    padding: 15px;
    border-radius: 10px;
  }
  @media(max-width: 450px){
    #main{
      margin: 0;
    }
  }
  img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  #img-div{ 
    background: #eec;
    padding: 17px;
    margin: 0;
  }
  #img-caption{
    margin: 10px 0 2px 0px;
  }
  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: center;
  }